<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id='result'></p>
    <div id='googlemap' style="width:100%,height:400px;"></div>
</body>
<script>
    // function geolocate(){
    //     if(navigator.geolocation) {
    //         navigator.geolocation.getCurrentPosition(function(position){
    //                 let lat = position.coords.latitude
    //                 let lon = position.coords.longitude
    //                 console.log(lat,lon)
    //                 document.getElementById('result').innerHTML = 
    //                     'Latitude : ' + lat + 'Longtitude : ' + lon;
                    
    //                 var mapProp= {
    //                     center:new google.maps.LatLng(lat,lon),
    //                     zoom:5,
    //                 };
    //                 var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    //                 } else {
    //                     document.getElementById('result').innerHTML = 'Geolocatio not supported on your browser'
    //                 }
    //             }
    //         })

            
    function geolocate(){
        if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(function(position){
                let lat = position.coords.latitude
                let lon = position.coords.longitude
                console.log(lat,lon)
                document.getElementById('result').innerHTML = 
                    'Latitude : ' + lat + 'Longtitude : ' + lon;
                var mapProp = {
                    center:new google.maps.LatLng(lat,lon),
                    zoom:5
                };
                var map = new google.maps.Map(document.getElementById('googlemap'), mapProp)
            })
        } else {
            document.getElementById('result').innerHTML = 'Not supported'
        }
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?&callback=geolocate"></script>
</html>

<!-- <!DOCTYPE html>
<html>
<body>

<h1>My First Google Map</h1>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

</body>
</html> -->