<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User details</title>
</head>
<body>
    <div>
        <div>
            <script>
                console.log('<%=location%>')
            </script>
            <img src="<%=location%>">
        </div>
        <form action='' method="POST" enctype="multipart/form-data">
            <div class="inputgroup">
            Bio : <input type="text" value='<%=bio%>' name='bio'></br>
            Location : <input type="text" value='<%=address%>'  name='address'></br>
            Birth Date : <input type="date" name='bdate'></br>
            </div>
            <div>
                <label> enter the file</label>
                <input type="file" name='avatar'>
            </div>
            <button type="submit">SUBMIT ZE DATA</button>
        </form>
        <form action='/goodbye' method='POST'>
            <button type="submit">LET ME OUT</button>
        </form>
        
    </div>
    
</body>

</html>
<!-- images\MitchBuchanan65ea8.jpg -->