<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="/Users/Plfrantic/Downloads/Group-project-main/Group-project-main/my_group_files/Categories/catstyles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="homecss.css">
    <title>Document</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


        .navbar-custom {
            background-color: black;
            height: 8rem;
            font-family: 'Russo One', sans-serif;
        }

        div ul li a {
            font-size: 1.5rem;
        }

        .imageCat {
            max-width: 100%;
            max-height: 100%;
        }

        button {
            background: none;
            color: #6098ff;
            border: 2px solid;
            padding: 1em 2em;
            font-size: 1em;
            transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
        }

        button:hover {
            border-color: #e75cff;
            color: white;
            box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
            transform: translateY(-0.25em);
            cursor: pointer;
        }

        .wrapper {
            /* border : 5px solid #000;  */
            overflow: hidden;
            background-color: grey;
        }

        .wrapper div {
            min-height: 300px;
            padding: 10px;
        }

        #one {
            background-color: black;
            float: left;
            margin-right: 2px;
            width: 500px;
            border-right: 2px solid #000;
        }

        #two {
            background-color: grey;
            overflow: hidden;
            margin: 10px;
            border: 2px dashed #ccc;
            min-height: 170px;
        }

        @media screen and (max-width: 400px) {
            #one {
                float: none;
                margin-right: 0;
                width: auto;
                border: 0;
                border-bottom: 10px solid #000;
            }
        }
    </style>
</head>
<!-- /Users/Plfrantic/Downloads/Group-project-main/Group-project-main/my_group_files/Categories/catstyles.css -->

<body>
    <section>
        <header id="header">
            <nav class="navbar navbar-expand-lg navbar-custom ">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-3">
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/trainers">Trainers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/memberships">Memberships</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-3 text-right">
                        <img src="/images/user.png" alt="user" width="30rem">
                    </div>
                    <div class="m-3 text-right text-white">My Account</div>
                </div>
            </nav>

            <div class="container-fluid max-height"></div>
        </header>

        <div class="wrapper">
            <div id="one">
                <img src="/images/pilates.jpeg" alt="" class="imageCat">
            </div>
            <div id="two">
                <h3>Pilates</h3>
                <p>Experience a unique and transformative approach to pilates that will have you feeling not just
                    stronger, longer, and leaner but also relieved of physical tension and mental stress. Create
                    sustainable and lasting change that will help you feel and look your most confident. Whether Pilates
                    is second nature to you, or if you’re a beginner, a mom, business woman or both… The Pilates Class
                    is for you.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="wrapper">
            <div id="one">
                <img src="/images/aerobics.jpeg" alt="" class="imageCat">
            </div>
            <div id="two">
                <h3>Aerobics</h3>
                <p>Cardio exercise, which is sometimes referred to as aerobic exercise, is any rhythmic activity that
                    raises your heart rate into your target heart rate zone. This is the zone where you burn the most
                    fat and calories.Part of what sets cardio apart from other types of exercise—such as strength
                    training, for instance—is that it relies on your body's ability to use oxygen during the workout
                    session. A person's cardio ability or capacity can vary based on a number of factors.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="wrapper">
            <div id="one">
                <img src="/images/trx.jpeg" alt="" class="imageCat">
            </div>
            <div id="two">
                <h3>TRX</h3>
                <p>Whether beginning a fitness journey or pushing toward your summit, TRX Training helps you move
                    better, feel better, and live better. ALL LEVELS, ALL GOALS means it's literally for ALL OF YOU:
                    Beginners, Pro Athletes, Runners, Yogis, Cyclists, Cross-Trainers, Service members, Combat Athletes,
                    and more.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="wrapper">
            <div id="one"><img src="/images/crossfit.jpeg" alt="" class="imageCat"></div>
            <div id="two">
                <h3>Crossfit</h3>
                <p>A form of high intensity interval training, CrossFit is a strength and conditioning workout that is
                    made up of functional movement performed at a high intensity level.These movements are actions that
                    you perform in your day-to-day life, like squatting, pulling,
                    pushing etc. Many workouts feature variations of squats, push-ups, and weight lifting that last for
                    predetermined amounts of time to help build muscles. This varies from a traditional workout that may
                    tell you how many reps to do over any period of time.</p>
                <button>Learn More</button>
            </div>
        </div>

    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>